table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  align-items: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p {
  color: whitesmoke;
}
td,
th {
  color: whitesmoke;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
}
.flex-container-table {
  margin-top: 10%;
}

.flex-container-date {
  margin-left: 33%;
  align-items: flex-end;
}
